<!-- views/pages/index.ejs -->

<% include layouts/head %>

<body style="overflow-y: scroll !important;">

    <main ng-view = "" class="main">
        <!-- content goes here -->


    </main>

    <script src='/jquery/dist/jquery.js'></script>
    <script src="/javascripts/1.11.0-jquery-ui.js"></script>
    <script src="/javascripts/printThis.js"></script>
    <script src="javascripts/ticker00.js" ></script>

	<!--
	CDN
	<script src='https://code.jquery.com/ui/1.11.0/jquery-ui.js'></script>

	NOT WORKING (node_modules)
	<script src="/jquery-ui/jquery-ui.js"></script>
	<script src="/jquery-ui/dialog.js"></script>-->

	<script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
	<script src="/angular-resource/angular-resource.min.js"></script>
	<script src="/angular-bootstrap-npm/dist/angular-bootstrap.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>
	<script src="/angular-smart-table/dist/smart-table.js"></script>
	<script src="/angular-smart-table-improved/dist/smart-table-improved.js"></script>
	<script src="/javascripts/pdfmake/build/pdfmake.js"></script>
	<script src="/javascripts/pdfmake/build/vfs_fonts.js"></script>
	<script src="/javascripts/html2canvas.js"></script>
	<script src="/highcharts/highcharts.js"></script>
	<script src="/highcharts/modules/data.js"></script>
	<!--<script src="/highcharts/modules/exporting.js"></script>-->

	<script src="/socket.io-client/socket.io.js"></script>
  <script>
        var socket = io.connect();
        socket.on('connect', function () {
            console.log('User connected!');
        });
        socket.on('connect_error', function(err) {
            console.log('connection lost');
        });
  </script>
	<script src="/jquery-colorbox/jquery.colorbox-min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
   <!--
	<script src="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxcore.js" ><script/>
	<script src="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxbuttons.js" ><script/>
	<script src="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdata.js" ><script/>
	<script src="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdatatable.js" ><script/>
	<script src="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxmenu.js" ><script/>
	<script src="javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxscrollbar.js" ><script/>
    -->
    <script src="/javascripts/footer.js"></script>

    <script src="../app/app.js"></script>
    <script src="../app/main.js"></script>
    <script src="../app/general.js"></script>
    <script src="../app/socket.js"></script>
    <script src="../app/login.js"></script>
    <script src="../app/frontline.js"></script>
    <script src="../app/backroom.js"></script>
    <script src="../app/admin.js"></script>

    <script src="../app/reporitorial.js"></script>

    <script src="../app/quetv.js"></script>
    <script src="../app/ipadque.js"></script>

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/ng-idle/angular-idle.js"></script>

	<script src="javascripts/assets/jquery.fittext.js" ></script>
	<script src="javascripts/assets/jquery.lettering.js" ></script>
	<script src="javascripts/jquery.textillate.js"  ></script>
	<script src="javascripts/jquery.blink.js" ></script>

    <script src="javascripts/jquery.simple-text-rotator.js" ></script>
    <script src="javascripts/FileSaver.js" ></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-clock/angular-clock.js"></script>

</body>
</html>
