/* Styles go here */

/*LOGIN FORM*/

/*END LOGIN FORM*/
.color_scheme {
	background-color: #06C !important;
	color:#ffffff;
}
.scheme_border_left{
	border-left: 1px solid #06C !important;
}
.animate-switch.ng-animate {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.animate-switch.ng-leave,
.animate-switch.ng-leave.ng-leave-active{
  display:none;
}
.animate-switch.ng-enter {
  opacity: 0;
}
.animate-switch.ng-enter.ng-enter-active {
  opacity:1;
}

.tr-closed{
	padding:0px !important;
}

/* nav bar */
.active:focus{
	background-color: #080808 !important;
}
.counter-info{
	width:260px;
	float: left !important;
}
.content {
    width: 400px;
    border: 4px solid red;
    padding: 20px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}
.dropdown-menu {
    min-width: 200px !important;
}
.panel{
	border-radius:0px !important;
}
.panel h1{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size:22px !important;
}
.panel h1 .numberque{
	color: #039 !important;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #0866c6 !important;
    border-color: #0866c6 !important;
}

.panel-heading {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}


.panel-body .badge{
	background-color:#272727 !important;
}

.pageheader {
    border-bottom: 1px solid #ddd;
    position: relative;
    min-height: 68px;
    background: #fff;
    margin-left: -25px !important;
    margin-right: -25px !important;
}
.adminpageheader {
    border-bottom: 1px solid #ddd;
    /*position: relative;*/
    min-height: 68px;
    background: #fff;
    margin-left: -25px !important;
    margin-right: -25px !important;
}
.pagetitle {
    margin-left: 17px;
    width:55%;
}
.pagetitle h5 {
    text-transform: uppercase !important;
    font-size: 11px !important;
    color: #999 !important;
}
.pagetitle h1{
    font-size: 26px !important;
    margin-left: -2px !important;
    color: #0866c6 !important;
    text-transform: uppercase !important;
}

.buttons{
	list-style: none;
    /*margin-top: 20px;*/
    overflow: hidden;
    clear: both;
}
.buttons li{
    display: inline-block;
    float: left;
    margin: 0 5px 5px 0;
    position: relative;
    cursor :pointer;
    color:white;
}
.buttons>li>a:hover,
.buttons>li>a:focus,
.buttons>.open>a,
.buttons>.open>a:hover,
.buttons>.open>a:focus {
	color:white !important;
	text-decoration:none !important;
	background-color:#0073e6;
	/*border-right:5px solid #0866c6;*/
}
.buts a{
	display: block;
    background: #0866c6;
    color: #fff;
    font-size: 37px;
    padding-top: 17px;
    text-align: center;
    height:100%;
    border: 0;
	border-bottom: 2px solid #004d99;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #004d99;
	box-shadow: inset 0 -2px #004d99;
}
.buts a:active{
	border-top: 1px solid white;
  	outline: none;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}
.breadcrumbs {
    list-style: none;
    height: 25px;
    background: #ddd;
    padding: 4px 0 4px 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-left: -25px !important;
    margin-right: -25px !important;
    margin-top: -10px !important;
}
.navbar-inverse {
    background-color: #06C !important;
    border-color: #06C !important;
    color: white !important;
}
.navbar-brand {
	background-color: transparent;
  /*background-image: url(../../../../images/sysimg/logo.png);*/
	background-image: url(../../../../images/vexconq.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
    color: white !important;
}

.navbar-brand-image{
	width:99px;
	height:20px;
}

.top-nav>li>a {
	opacity: 0.7 !important;
    color: white !important;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
	opacity: 1 !important;
    color: #fff !important;
    background-color: #0073e6 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #0866c6;/*#080808;*/
}

.navbar-inverse .navbar-nav>li>a {
	font-weight:normal !important;
	border-bottom: 1px solid #232323 !important;
}
.nav-header{
	font-weight: normal;
    font-size: 11px;
    padding: 5px 20px;
    text-shadow: none;
    background: #232323;
    border-bottom: 1px solid #222;
}
.list-group-item>.label {
	margin-right:-90px;
	margin-top:29px;
    float: right !important;
}
@media (min-width: 861px){
	.buts{
		position: absolute !important;
	    right: 5px;
	    top:5px !important;
	}
	.buts a{
		display: block;
    	width: 130px;
    	height: 53px;
    	font-size: 16px;
	}
	.navbar-nav>li>a {
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	}
}
@media (max-width: 860px){
	.buts{
		margin-left:15px;
		margin-right:15px;
	}
	.buts li{
		width: 100%;
    	height: 70px;
	}
	.buttons{
    	width: 100%;
    	padding: 0px;
   	 	margin-bottom: -55px;
	}
}
@media (max-width: 767px){
	.pagetitle {
	    width:94% !important;
	}
	.counterinfo{
		width:260px;
	}
	.navbar-collapse {
		background:#272727;
	}
}
