<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Change Password</h3>
</div>		
<form role="form" ng-submit = "change();">			
<div class="modal-body" id="modalbody" >					
					

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess">USERNAME:</label>
                            <input ng-model="username" name="username" type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputWarning">PASSWORD:</label>
			             	<input ng-model="password" name="password" type="password" class="form-control" required>
                        </div>
                        
                        <div ng-class="repass != newpass ? 'form-group has-error' : 'form-group has-success'" class="form-group">
                            <label class="control-label" for="inputWarning">NEW PASSWORD:</label>
				            <input ng-model="newpass" name="newpass" type="password" class="form-control" required>
                        </div>
                        
                        <div ng-class="repass != newpass ? 'form-group has-error' : 'form-group has-success'" class="form-group">
                            <label class="control-label" for="inputWarning">RE-TYPE PASSWORD:</label>
				            <input ng-model="repass" name="repass" type="password" class="form-control" required>
                        </div>
                        
                   
</div>
<div class="modal-footer">
    <button ng-disabled = "repass != newpass" type="submit" class="btn btn-primary" type="button">SAVE <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    
</div>
</form>