<style>
	error{color:#008;}
	success{color:#FFF;}
	.app-modal-window .modal-dialog {
		  width: 514px;
		}
	
	.quecard-div{
		width: 800px;
		height: 242px;
		float: left;
		margin-top: 130px;
		margin-left: 280px;
	}
	
	.input-quecard{
		width: 100%;
		height: 100%;
		font-size: 120px;
		text-align: center;
		margin-top: 48px;
	
	}
	</style>
	<script type='text/javascript'>
		$(document).ready(function(){
			   $("div.message").hide();
		 });
	
		function addZeros (n, length)
		{
			var str = (n > 0 ? n : -n) + "";
			var zeros = "";
			for (var i = length - str.length; i > 0; i--)
				zeros += "0";
			zeros += str;
			return n >= 0 ? zeros : "-" + zeros;
		}
		socket.on('newPendingAdded', function(){
			$("div.message").html("<success>Please wait for your Queue Card to be called. <br>THANK YOU!<success>");
			$("div.message").fadeIn(300).delay(5000).fadeOut(300);
			socket.removeAllListeners();
		});
	
	</script>
	<div class="ipadbody" ng-init= "session_check(); init();">
		<div class="message"></div>
		<div class="bgpad">
		<div class="headerpad"></div>
		<div class="mids">
			<form id="ipadinfo1">
	
				<!-- <center><div class="quecard-div">
				<input type="text" placeholder="000" name="quecard" id="que-card" pattern="\d*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="quecard" class="input-quecard"  maxlength="3"/></div></center> -->
	
				<center>
					<div class="quecard-div">
						<input type="text" placeholder="-------" name="quecard" id="que-card" oninput="this.value=this.value.replace(/[^0-9A-Z]/g,'');" ng-model="quecard" class="input-quecard"  maxlength="9"/>
					</div>
				</center>
				<!-- hidden client information 02/12/18 -->
	
				<!-- <salutation>SALUTATION:</salutation>
					<firstname>FIRST NAME:</firstname>
					<lastname>LAST NAME:</lastname>
	
					<select name="salutation" class="ddownab" id="ipadinfo_sl" ng-model = "salutation">
						 <option value="">--SELECT--</option>
						  <option value="Mr">Mr.</option>
						 <option value="Ms">Ms.</option>
						   <option value="Mrs">Mrs.</option>
					</select>
	
					<input fname name="fnames" maxlength="10" type="text" class="fn" id="ipadinfo_fn" ng-model = "firstname" ng-pattern="/^[^\s]+[a-zA-Z ]*[^\s]+$/" ng-trim = "true">
	
					<input lname name="lnames" maxlength="15" type="text" class="ln" id="ipadinfo_ln" ng-model = "lastname" ng-pattern="/^[^\s]+[a-zA-Z ]*[^\s]+$/" ng-trim = "true"> -->
	
		   </form>
			<div class="pleasepress">Please PRESS on the service you require:</div>
			<div class="message1s">Welcome to Power Mac Center Apple Authorized Service Provider KCC Mall<br>
	
				<!-- hidden banner 2/12/18 -->
				<!-- <center><div class="ipadquefont">Please fill out the details below and press on the service you require.</div></center> -->
				<center><div class="ipadquefont">PLEASE ENTER YOUR QUEUE NUMBER</div></center>
			</div>
		</div>
		<div class="bots">
			<button ng-repeat = "button in buttons" type="submit" name="{{button.name}}" class="{{button.class}}" ng-click="input(button.id);"></button>
			<!--<button name="rep" type="submit" class="forep" ng-click="input('for repair');"></button>
			<button name="rels" type="submit" class="rel" ng-click="input('releasing');"></button>
			<button name="apps" type="submit" class="app" ng-click="input('appointment');"></button>
			<button name="inqs" type="submit" class="inq" ng-click="input('inquiry');"></button>-->
		</div>
	</div>
	