<div id="loading_screen">
	<div class="spinner">
	  <div class="cube1"></div>
	  <div class="cube2"></div>
	</div>
</div>

<div class="container" ng-init="initlogin();">
	<div class="row">
		<div class = "col-lg-12">
			<center><div class="logo"></div></center>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<center>
				<div class="login-page">
				  <div class="form">
						<div ng-show="success" class="alert alert-success">
							<button ng-click = "success = !success" type="button" class="close" data-hide="alert" aria-hidden="true">×</button>
	                    	<strong>{{success}}</strong>
	                	</div>
	                	<div ng-show="error" class="alert alert-danger">
							<button ng-click = "error = !error" type="button" class="close" data-hide="alert" aria-hidden="true">×</button>
	                    	<strong>{{error}}</strong>
	                	</div>

					    <form class="login-form" ng-submit="login();">
						      <input ng-model="username" name="username" type="text" placeholder="username" required/>
						      <input ng-model="password" name="password" type="password" placeholder="password" required/>
						      <button type="submit" id="login">login</button>
					    </form>
						<br>
					   	<div class="footer-right">
                    		<powered style="margin:0px !important;">POWERED BY: Corporate Service Team</powered>
                		</div>
				  </div>
				</div>
			</center>
		</div>
		<div clas="col-lg-4"></div>
	</div>

</div>
