<div class="bodymenu" ng-init="initmenu();">
	
	<button ng-click = "logout();" class = "logback"> LOG OUT </button>
	
	<div class = "worksed">
		<div class = "buttonsfmenu">

			<form id="form_menu" enctype="multipart/form-data" method="get" accept-charset="utf-8">      
		      	<div ng-repeat = "divs in menu" class="{{ divs.div }}">
		      		
		      		<button ng-repeat = "options in divs.buttons" class = "{{ options.class }}" name = "{{options.name}}" ng-click = "reroute(options.url);"></button>	
		      	</div>
		    </form>
		
		</div><!---buttonsfmenuend-->
    </div> <!---worksend-->
</div>
