<style>
	.fixedlayout {table-layout: fixed;}
</style>
<div class="modal-header" >
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel();">×</button>
    <center><div class="title_daily_transaction_S">GRAPHICAL REPORT</div></center>
</div>
<div divreport class="modal-body" id="modalbody" ng-init="opencharts();">
	<div id="container">
	<center>{{ noData }}</center>
		
	<table ng-show = 'showTable'  id="datatable">
	    <thead>
	        <tr>
	        	<th></th>
	        	<th ng-repeat = "status in services">{{status.service}}</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat = "item in datatable">
	            <th ng-repeat = "(key, value) in item">{{ value }}</th>
	        </tr>
	    </tbody>
	</table>
	</div>
	</br>
	<div style="width:100% !important; overflow: scroll;">
	<table ng-show = 'showTable' id = 'dataTableView' class="table table-hover">
	    <thead>
	        <tr>
	        	<th></th>
	        	<th ng-repeat = "status in services">{{status.service}}</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat = "item in datatable">
	        	<th ng-repeat = "(key, value) in item" >{{ value }}</th>
	        </tr>
	    </tbody>
	</table>
	
	
	<table ng-show = 'summaryPercentage' id = "summaryPercentage" class="table table-bordered table-hover table-striped">
	    <thead>
	        <tr>
	        	<th>SERVICE</th>
	            <th>TOTAL CLIENTS</th>
	            <th>AVERAGE CLIENTS</th>
	            <th>LONGEST WAITING TIME</th>
	            <th>AVERAGE WAIT TIME</th>
	            <th>AVERAGE SERVICE TIME</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat = "item in summaryTable">
	            <th>{{item.category}}</th>
	            <th>{{item.client_count}}</th>
	            <td>{{item.client_avg}}</td>
	            <td>{{item.max_wait}}</td>
	            <td>{{item.avg_wait}}</td>
	            <td>{{item.avg_serve}}</td>
	        </tr>
	    </tbody>
	</table>
	
	<table ng-show = 'summaryPerDate' id = "summaryPerDate" class="fixedlayout table table-bordered table-hover ">
	    <thead>
	        <tr>
	        	<th class = "color_scheme">{{ category }}</th>
        		<th class = "color_scheme">SERVICE</th>
        		<th class = "color_scheme">CLIENTS</th>
        		<th class = "color_scheme">LONGEST WAITING TIME</th>
        		<th class = "color_scheme">AVERAGE WAIT TIME</th>
        		<th class = "color_scheme">AVERAGE SERVICE TIME</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat = "item in summaryTable | unique : 'filter'">
	            <td >{{item.category}}</td>
	            <td colspan = "5">
	            	<table class = "fixedlayout table table-bordered">
	            		<tr ng-repeat = "infor in summaryTable" ng-if = "infor.filter === item.filter" >
			    			<td>{{infor.status}}</td>
			        		<td>{{infor.count}}</td>
			        		<td>{{infor.max_wait}}</td>
			        		<td>{{infor.avg_wait}}</td>
			        		<td>{{infor.avg_serve}}</td>
					    </tr>
	            	</table>
	            </td>
	        </tr>
	    </tbody>
	</table>
	
	
	<table ng-show = 'summaryPerWeekDay' id = "summaryPerWeekDay" class="table table-bordered table-hover table-striped">
	    <thead>
	    	<tr>
	        	<th>SERVICE</th>
	            <th colspan="3" class = "color_scheme">SUNDAY</th>
	            <th colspan="3" class = "color_scheme">MONDAY</th>
	            <th colspan="3" class = "color_scheme">TUESDAY</th>
	            <th colspan="3" class = "color_scheme">WEDNESDAY</th>
	            <th colspan="3" class = "color_scheme">THURSDAY</th>
	            <th colspan="3" class = "color_scheme">FRIDAY</th>
	            <th colspan="3" class = "color_scheme">SATURDAY</th>
	        </tr>
	        <tr>
	        	<th></th>
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	            
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	            
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	            
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	            
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	            
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	            
	            <th class="scheme_border_left">CLIENT COUNT</th>
	            <th>AVG WAITING TIME</th>
	            <th>AVG SERVING TIME</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat = "item in summaryTable">
	            <th>{{item.category}}</th>
	            <th class="scheme_border_left">{{item.SUNDAY_COUNT}}</th>
	            <td>{{item.SUNDAY_AVGWAIT}}</td>
	            <td>{{item.SUNDAY_AVGSERVE}}</td>
	            
	            <th class="scheme_border_left">{{item.MONDAY_COUNT}}</th>
	            <td>{{item.MONDAY_AVGWAIT}}</td>
	            <td>{{item.MONDAY_AVGSERVE}}</td>
	            
	            <th class="scheme_border_left">{{item.TUESDAY_COUNT}}</th>
	            <td>{{item.TUESDAY_AVGWAIT}}</td>
	            <td>{{item.TUESDAY_AVGSERVE}}</td>
	            
	            <th class="scheme_border_left">{{item.WEDNESDAY_COUNT}}</th>
	            <td>{{item.WEDNESDAY_AVGWAIT}}</td>
	            <td>{{item.WEDNESDAY_AVGSERVE}}</td>
	            
	            <th class="scheme_border_left">{{item.THURSDAY_COUNT}}</th>
	            <td>{{item.THURSDAY_AVGWAIT}}</td>
	            <td>{{item.THURSDAY_AVGSERVE}}</td>
	            
	            <th class="scheme_border_left">{{item.FRIDAY_COUNT}}</th>
	            <td>{{item.FRIDAY_AVGWAIT}}</td>
	            <td>{{item.FRIDAY_AVGSERVE}}</td>
	            
	            <th class="scheme_border_left">{{item.SATURDAY_COUNT}}</th>
	            <td>{{item.SATURDAY_AVGWAIT}}</td>
	            <td>{{item.SATURDAY_AVGSERVE}}</td>
	        </tr>
	    </tbody>
	</table>
	
	</div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="printall()">PRINT</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">CLOSE</button>
</div>