<ul class="breadcrumbs">
    <li><a ><i class="iconfa-home"></i></a> <span class="separator"></span></li>
    <li></li>
</ul>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header" style="margin: 0px !important;border-bottom: 0px !important;"></h1>
	</div>
</div>
<div class="row" ng-init="initializeAdmin();">
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
			    <h3 class="panel-title"><i class="fa fa-edit"></i> ADMIN PANEL</h3> 
			</div>
			<div class="panel-body">
				<div class="alert alert-danger alert-dismissable" ng-show="error === true" >
                	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                	{{message}}
                </div>
				<div class="alert alert-info alert-dismissable" ng-show="error === false">
	                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	                {{message}}
	            </div>
					<form role="form" ng-submit="addUser();">

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess">FIRST NAME:</label>
                            <input ng-model="firstf" name="firstf" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputWarning">LAST NAME:</label>
			             	<input ng-model="lastf" name="lastf" type="text" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="inputWarning">USER NAME:</label>
				            <input ng-model="username" name="username" type="text" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="inputWarning">PASSWORD:</label>
				            <input ng-model="password" name="password" type="password" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label>ACCOUNT TYPE:</label>
                            <select ng-model="account_type" name="account_type" class="form-control">
						  		 <option value="">---SELECT---</option>
						 		 <option value="Admin">Administrator</option>	
						         <option value="Staff">Staff</option>
							</select>
                        </div>
                        
						<button name="saves" type="submit" id="adminbtn" class="btn btn-primary btn-md">SAVE INFO</button>
                    </form>
				
					<!--<form ng-submit="addUser();" id="admin_form" enctype="multipart/form-data" role="form">	
				        <div class="firstlast">
				        	 <firstn>FIRST NAME:</firstn>
				             <input ng-model="firstf" name="firstf" type="text" class="ff">
				             <lastn>LAST NAME:</lastn>
				             <input ng-model="lastf" name="lastf" type="text" class="nn">
				        </div>
				       <div >
				        	 <usern>USER NAME:</usern>
				             <input ng-model="username" name="username" type="text" class="uu">
				             <passn>PASSWORD:</passn>
				             <input ng-model="password" name="password" type="password" class="pp">
				             <acc>ACCOUNT TYPE:</acc>
				             
						    <select ng-model="account_type" name="account_type" class="acctype">
						  		 <option value="">---SELECT---</option>
						 		 <option value="Admin">Administrator</option>	
						         <option value="Staff">Staff</option>
							</select>
					       <button name="saves" type="submit" id="adminbtn" class="save">SAVE INFO</button>
				       </div> <!--- user pass closure
				       
				 </form>-->
			</div>
		</div>
			<!-------------------------------FOR IP PANE --------------->
		<div class="panel panel-primary">
			<div class="panel-heading">
			    <h3 class="panel-title"><i class="fa fa-list-alt"></i> IP ADD</h3> 
			</div>
			<div class="panel-body">
				<div class="form-group">
                    <label class="control-label" for="inputSuccess">MAC ADDRESS:</label>
					<input ng-model="ipadd" name="ipadd" type="text" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label class="control-label" for="inputWarning">IP ADDRESS:</label>
					<input ng-model="nameds" name="nameds" type="text" class="form-control" disabled>
	             		
                </div>	
				             
				<button disabled name="saves" type="button" id="adminbtnd" class="btn btn-primary btn-md" ng-click="saveIp();">SAVE</button>   
			</div>
		 </div>       
		       
		
	</div> 
		  <div class="col-lg-8">     
					<div class="panel panel-primary">
					<div class="panel-heading">
					    <h3 class="panel-title"><i class="fa fa-list-alt"></i> LIST OF USERS</h3> 
					</div>
					<div class="panel-body">
						
						<div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th>ACCOUNT TYPE</th>
                                            <th>ACTIVATED</th>
                                            <th><span class="glyphicon glyphicon-pencil"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users">
                                            <td>{{user.firstname}} {{user.lastname}}</td>
                                            <td>{{user.account_type}}</td>
                                            <td>{{user.activated}}</td>
                                            <td>
                                            	<a href="#" class="btn btn-info" ng-click="togglePromote(user.account_type, user.id);">
                                            		<span ng-if="user.account_type == 'Staff'">	
                                            			<span class="glyphicon glyphicon-thumbs-up"></span> 
                                            			PROMOTE
                                            		</span>
                                            		<span ng-if="user.account_type == 'Admin'">
                                            			<span class="glyphicon glyphicon-thumbs-down"></span>
			                                     		DEMOTE
			                                     	</span>
                                            	</a>
                                            	<a href="#" class="btn btn-info" ng-click="toggleActivate(user.activated, user.id);">
                                            		<span ng-if="user.activated == 'Yes'">
                                            			<span class="glyphicon glyphicon-remove"></span> 
                                            			DEACTIVATE
                                            		</span>
			                                     	<span ng-if="user.activated != 'Yes'">
			                                     		<span class="glyphicon glyphicon-ok"></span> 
                                            			ACTIVATE
                                            		</span>
                                            	</a>
                                            	<a href="#" class="btn btn-danger" ng-click="deleteuser(user.id);"><span class="glyphicon glyphicon-trash"></span> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
						
		                	  
		            </div><!--listusers-cont-->     
		</div>
	
</div>